html, body {
    margin: 0;
    padding: 0;
    font: 14px "Century Gothic", Futura, sans-serif;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    margin: 20px;
    background: #faf8ef;
    color: #776e65
  }

  body {
    margin: 80px 0; }
  
  ol, ul {
    padding-left: 30px;
  }

  .gameContainer {
    position: absolute;
    width: 415px;
    height: 585px;
    top: 50%;
    left: 50%;
    margin-left: -223px;
    margin-top: -345px;
    -webkit-animation: fade-in 800ms ease 1200ms;
    -moz-animation: fade-in 800ms ease 1200ms;
    animation: fade-in 800ms ease 1200ms;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .game-intro {
    float: left;
    height: 32px;
    margin-bottom: 0; 
    font-size: 17px;
  }

  .restart-button {
    background: #8f7a66;
    border-radius: 3px;
    padding: 0 20px;
    text-decoration: none;
    color: #f9f6f2;
    height: 30px;
    font-weight: bold;
    font-size: 17px;
    line-height: 32px;
    display: block;
    text-align: center;
    float: right;
  }

  .buttonContainer:after {
    content: "";
    display: block;
    clear: both;
  }

  .header {
    margin-left: 10px;
    text-align: center;
    width: 300px;
    border: 10px solid #faf8ef;
    border-radius: 30px;
    height: 100px;
    background: #d3c60f70;
    font-size: 70px;
    font-weight: bold;
    color: #776e65;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .board {
    margin-top: 5px;
    width: 415px;
    height: 465px;
    background: #bbada0;
    border-radius: 20px;
  }
  
  .board-row {
    clear: both;
    content: "";
    display: table;
  }

  .square {
    background: rgba(238, 228, 218, 0.35);
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 90px;
    margin-left: 11px;
    margin-top: 11px;
    padding: 0;
    text-align: center;
    width: 90px;
    border-radius: 5px;
  }

  .active-square {
    flex-direction: column;
    background: rgb(226, 160, 83);
    float: left;
    font-size: 50px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    line-height: 34px;
    height: 90px;
    width: 90px;
    margin-left: 11px;
    margin-top: 11px;
    /* padding: 0; */
    text-align: center;
    border-radius: 5px;
  }

  .score-board {
    font-size: 30px;
    background: rgb(238, 217, 160);
    width: 395px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    border: 10px solid #bbada0;
  }
  